
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*************************************** css reset *********************/

body {
	margin: 5% 5% 0 5%;
	font-weight: 400;
	font-family: 'Lato', sans-serif;
}

/************* header **************/
header {
	height: 100px;
	margin-bottom: 3%;
}

.header-img {
	height: 100px;
	width: 100px;	
	float: left;
}

.header {
	float: right;
	margin-top: 1%;
}

.header h1 {
	font-size: 350%;
	font-weight: 300;
}

.header p {
	font-size: 150%;
	padding: 5% 0 0 37%;
	font-weight: 700;
}
/******************** main ********************/
main {
	border-top: 5px solid #7d97ad;
}

main img {
	margin-top: 3%;
	width: 100%;
	height: 55%;
}

h2 {
	color: #7d97ad;
	font-size: 220%;
	margin: 3% 0 3% 1%;
}

.flex-container {
	margin: 0;
	display: flex;
	flex-flow: row;
	justify-content: space-around;
}

figure img{
	width: 280px;
	height: 200px;
}

figcaption {
	text-align: center;
	font-size: 150%;
}

a {
	text-decoration: none;
	color: black;
}

